
* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
  background-color:#333;
  color: #ddd;
  font-size: 14px;
}

.note {
  font-size: 80%;
  padding: 6px 0px;
  margin: 0;
}

.container {
  width: 100%;
  padding: 10px;
}

 a:link {
  color: #87ceeb;
}

a:visited {
  color: #87ceeb;
}

a:hover {
  color: white;
}

a:active {
  color: white;
} 

h1 {
  margin: 0;
  color: #7ae810;
}

h2 {
  margin: 10px 0px 0px;
  font-size: 140%;
  color: tomato;
}

h3 {
  margin: 16px 0px 0px;
  font-size: 120%;
  color: orange;
  border-bottom: 1px solid #444;
}

pre {
  margin:0;
  padding:0;
  font-size:100%;
  width:100%;
  line-height:1.5rem;
  border: 0;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: 'Ubuntu Mono', monospace;
}

pre .com {
  color: #999;
  display:block;
}

pre .pln, pre .pun, pre .opn, pre .clo { color:#ddd; }
pre .str { color: #7ae810; }
pre .kwd { color: skyblue; }
pre .typ { color: yellow; }
pre .com + .pln { white-space: normal; }
pre.prettyprint { border: 0!important; }
li.L1,li.L3,li.L5,li.L7,li.L9{ background:#3f3f3f!important; }
ol.linenums, li { list-style-type: decimal-leading-zero!important; }

.linenums li {
  border-left: 4px solid #555; 
  padding-left: 10px; 
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: flex-start; -moz-box-pack: flex-start; 
  -ms-flex-pack: flex-start; 
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: flex-start; -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  list-style-type: none;
}

ul.sheet > li {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  body { font-size: 16px; }
  ul.sheet > li { width: 50%; padding: 0 10px; }
}

@media only screen and (min-width: 1200px) {
  //body { font-size: 24px; }
  ul.sheet > li { width: 33.33%; }
}

footer {
  margin: auto;
  text-align: center;
  background: #333333;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 30px;
  font-size: 14px;
}